$main-color:#3b3e33;
$childcolor:#111111;
$threecolor:#767b67;
$btncolor:#a3a698;
$carsulcolor:#f7f8f3;
$footercolor:#3b3e33;
$wihte:#ffffff;
$Fsize:14px;
$padding: 100px;
$box-shadow: 0px 5px 39px rgba(154, 87, 87, 0.2);